*{
  margin:0px;
  box-sizing:border-box;
  padding:0px;
  font-family: 'Itim', cursive;
  font-family: 'Pathway Extreme', sans-serif;
  font-family: 'Teko', sans-serif;
}

header{

  background-image:url("img/jaszczur.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 20% 20%;
  text-align:center;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position:relative;

}

header h1{
  
  font-size:50px;
  color:white;
}

.logo1{
  height:250px;
}



nav{
  position:sticky;
  overflow:hidden;
  display:flex;
  justify-content:center;
  background-color:rgb(8, 66, 23);
  width:100%;
  height:50px;
  align-items:center;
  -webkit-box-shadow: 0px 10px 67px -13px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 67px -13px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 67px -13px rgba(0, 0, 0, 1);
  color:white;
}




nav a {
  margin: 5px;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60%;
  text-decoration: none;
  text-transform:uppercase;
  color:rgb(255, 255, 255);
  transition:0.3s ease-in-out;

}

a:hover{
  opacity:0.7;
}




footer{
  background-color:rgb(2, 39, 1);
  height:22vh;
  color:white;
  font-size:20px;
  font-weight:300;
  padding-top:3vh;
  padding-left:3vh;
  
}

footer p{
  text-align:left;
}

footer a{
  text-align:right;
  width:100%;
  display:block;
  color:rgb(148, 148, 148);
  text-decoration: none;
  
}

.dane_w_footer{
  height:100%;
  display:block;
  float:left;
  flex-wrap:wrap;
}

.linki {
  height:100%;
  display:block;
  float:right;
  display:flex;
  flex-wrap:wrap;
  padding-right:3vh;
  
}



body{
  color:rgb(255, 255, 255);
  background-color: rgba(133, 133, 133, 1);
  background-image: linear-gradient(180deg, rgba(133, 133, 133, 1) 0%, rgba(36, 36, 37, 1) 100%);
}



.menu{
  position: sticky;
  top: 0px;
  margin: 0px;
  overflow: hidden;
}

.opis1{
  margin-top:100px;
  min-height:20vh;
  font-size:30px;
  text-align:justify;
  
}.opis1 p{
  
  padding-top:10px;
  padding-left:150px;
  padding-right:150px;
}
  

.opis1 h1{
  padding-top:10px;
  text-align:center;
  align-items:center;
  justify-content: center;
}

.opis1 hr{
  height:5px;
  background-color:rgb(8, 66, 23);
  border:none;
  border-radius:5px;
  width:84%;
  margin:auto;
}

.zawartosc1{
  font-size:30px;
  
  min-height:100vh;
  padding:20px;
  margin-top:100px;
}

.zawartosc1 h1{
  text-align:center;
}

.example1{
  font-size:25px;
  height:500px;
  width:100%;
  padding-top:70px;
  padding-left:120px;
  display:flex;
  
  
}

.example1 p{
  padding:15px;
  padding-top:150px;
  padding-right:120px;
  text-align:justify;
}

.example1 img{
  size:cover;
  height:500px;
 
  border-radius:50px;
  position:relative;
  transition:0.3s ease-in-out;
  
}

.zawartosc1_img1:hover{
  transform:rotate(15deg) scale(1.2);
 
}

.example1_img1{
  height:500px;
  width:50%;
  overflow:hidden;
}